body {
    background-color: #808080;
}

#MainData {
    position: center;
    width: 726px;
    margin: auto;
    background-color: #ffffff;
}

#Content {
    width: 100%;
    height: 900px;
}

#Error {
    width: 100%;
    height: 30px;
    background-color: #0094ff;
}