body {
    background-color: #808080;
}

#MainData {
    position: center;
    width: 1500px;
    margin: auto;
    background-image: url('../images/explore-wallpaper.jpeg');
    background-repeat: no-repeat;
}

#Header {
    width: 100%;
    height: 100px;
}

#Content {
    width: 100%;
    height: 700px;
}

#Footer {
    width: 100%;
    height: 100px;
}
